@font-face {
  font-family: "Fira Code";
  src: url("assets/fonts/fira-code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Code";
  src: url("assets/fonts/code/Code.ttf") format("truetype");
}

:root {
  --color-white: #e6e2db;
  --color-alternative: #00ffc4;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-white);
}

p > a {
  color: #4db7e3;
}
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  font-family: "Inter";
  font-weight: 600;
  background-color: #101010;
  color: var(--color-white);
}

nav {
  padding: 40px 30px;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid;
  border-color: var(--color-white);
  text-align: center;
}

.nav-item:hover {
  border-color: var(--color-alternative);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Code";
  font-weight: bold;
  display: inline-block;
}

#name {
  color: var(--color-alternative);
  font-size: 3rem;
}

@keyframes typing {
  0% {
    content: "";
  }
  15% {
    content: "B";
  }
  30% {
    content: "Br";
  }
  45% {
    content: "Bra";
  }
  60% {
    content: "Brau";
  }
  75% {
    content: "Brauli";
  }
  100% {
    content: "Braulio";
  }
}

@keyframes erasing {
  0% {
    content: "Braulio";
  }
  20% {
    content: "Brauli";
  }
  40% {
    content: "Braul";
  }
  60% {
    content: "Brau";
  }
  80% {
    content: "Bra";
  }
  90% {
    content: "B";
  }
  100% {
    content: "";
  }
}

#name:before {
  content: "";
  white-space: nowrap;
  animation:
    typing 4s steps(7) 1s infinite alternate,
    erasing 4s steps(7) 5s infinite alternate;
}

#last {
  font-size: 2rem;
}

header {
  padding: 5% 5% 0;
}

.main-section {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
}

.generic-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.generic-element-container {
  margin: 5px;
  padding: 5%;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #1d1d1d;
}

.generic-element-container:hover {
  border: 1px solid #303030;

  border-radius: 5px;
  background: rgb(16, 16, 16);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(29, 0, 47, 1) 82%,
    rgba(10, 0, 59, 1) 100%
  );
  transform: translateY(-3px);
}

.generic-container-title {
  margin: 0;
  font-family: "Fira Code";
}

.generic-subtitle {
  display: flex;
  flex-direction: column;
}

.generic-alternate-subtitle {
  color: var(--color-alternative);
}

.generic-main-subtitle {
  color: #c5c5c5;
}

.generic-container-description {
  font-size: 1rem;
  font-weight: normal;
}

.generic-container-link {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.generic-container-technologies {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 10px;
}

@media only screen and (min-width: 768px) {
  .generic-element-container {
    display: grid;
    grid-template-areas:
      "A D"
      "B D"
      "E D"
      "C C";
  }

  .generic-container-title {
    grid-area: A;
  }

  .generic-container-description {
    grid-area: B;
  }

  .generic-contaner-links {
    grid-area: E;
  }

  .generic-container-image {
    grid-area: D;
    width: 60%;
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
  }

  .generic-container-technologies {
    grid-area: C;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

footer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10%;
  row-gap: 20px;
  width: fit-content;
}

form label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  width: 100%;
}

form button {
  padding: 5px 15px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid var(--color-alternative);
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Fira Code";
}

form button:hover {
  cursor: pointer;
}

label input,
textarea {
  border: none;
  border-bottom: 2px solid var(--color-alternative);
  padding: 2px;
  outline: none;
  color: var(--color-white);
  font-family: "Inter";
  background-color: transparent;
  font-size: 1rem;
}

label span {
  font-weight: normal;
}
